# Environment
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Conda / virtual envs
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
